<div class="container" id="card">
    {{!-- <div class="text-center mb-3">
        <h1>News Scraper</h1>
    </div> --}}
    <div class="row">
        <div class="col-12">
            <div class="card mt-1 mb-2" id="card">
                <div class="card-horizontal">
                    <img src={{dbArticle.pictureLink}} width="152" height="102" alt={{dbArticle.pictureLink}}>
                    <div class="card-body">
                        <a href={{dbArticle.link}} target="_blank" class="card-title">{{dbArticle.title}}</a>
                        <br>
                        <p>{{dbArticle.summary}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6" id="card1">
            {{#each dbArticle.notes}}
            <div class="card mt-1 mb-2" style="_width: 18rem;" id="card1" >
                <div class="card-body"  >
                    <h5 class="card-title">{{title}}</h5>
                    <p id="p1" class="card-text">{{body}}</p>
                    <button type="button" class="btn btn-outline-primary js-deleteComment" data-id={{_id}}>Delete</button>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-6" id="card2">
            <form class="mb-3">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="body">Comment</label>
                    <input type="textarea" class="form-control" id="body">
                </div>
                <button type="submit" class="btn btn-outline-primary" id="submitButton">Add Comment</button>
                <a href="/" class="btn btn-outline-primary">Back to Scraping</a>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript" src="/assets/js/comments.js"></script>